config EXAMPLES_LEDCONTROL
	tristate "Led Controller"
	default n
	---help---
		Enable the Led Controller application

if EXAMPLES_LEDCONTROL

config EXAMPLES_LEDCONTROL_PROGNAME
	string "Program name"
	default "ledcontrol"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_LEDCONTROL_PRIORITY
	int "led controller task priority"
	default 100

config EXAMPLES_LEDCONTROL_STACKSIZE
	int "Led Controller stack size"
	default 4096

endif
